/*
Resource management
*/

process {
  
  cpus = { check_max( 10 * task.attempt, 'cpus' ) }
  memory = { check_max( 20.GB * task.attempt, 'memory' ) }
  time = { check_max( 24.h * task.attempt, 'time' ) }
  
    // error strategy
  errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'terminate' }
  maxRetries = 2
  maxErrors = '-1'

  withName:mageck {
    cpus = { check_max( 10 * task.attempt, 'cpus' ) }
    memory = { check_max( 20.GB * task.attempt, 'memory' ) }
    time = { check_max( 5.h * task.attempt, 'time' ) }
  }
    withName: postprocess {
    cpus = { check_max( 10 * task.attempt, 'cpus' ) }
    memory = { check_max( 20.GB * task.attempt, 'memory' ) }
    time = { check_max( 5.h * task.attempt, 'time' ) }
    }
}

timeline {
    enabled = true
}

report {
  enabled = true
}

  params {
  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 40
  max_time = 240.h
}
