  
/*
 * -------------------------------------------------
 *  University of Cape Town HPC cluster config file
 * -------------------------------------------------
 * http://hpc.uct.ac.za/index.php/hex-3/
 */


process {
	container = {params.legacy ? 'zuberlab/crispr-nf:0.5.5' : 'zuberlab/crispr-nf:0.5.9'}
}

params {
   hpc_queue = 'ada'
   hpc_account = '--account cbio'
   max_memory = 384.GB
   max_cpus = 40
   max_time = 72.h
}

singularity {
   enabled = true
   cacheDir = "/bb/DB/bio/singularity-containers/"
   autoMounts = true
}

